.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 81px;
  padding-top: 52px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 35px;

  .left__block-logo {
    display: flex;
    align-items: center;
    margin-left: 77px;
    .logo__wrap {
      margin-right: 17px;
    }
  }
  .right__block-buttons {
    margin-right: 38px;
    background: #fe5f1e;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: flex;

    .button__price {
      font-family: Proxima Nova;
      background: transparent;
      border: 0px;
      color: white;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      padding-right: 13px;
      border-right: 1px solid #fe8756;
    }
    .button__crate {
      background: transparent;
      border: 0px;
      padding-left: 13px;
      .button__crate-icon {
        align-items: center;
        display: flex;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .header {
    .left__block-logo {
      margin-left: 10px;
    }
    .right__block-buttons {
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 425px){
  .header{
    flex-direction: column;
    .left__block-logo{
      margin-bottom: 20px;
      .logo__wrap{
        padding: 0px 10px;
      }
    }
  }
}
